@charset "utf-8";
/* CSS Document */

/* Accordion menus */
#panel, #flip {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px; 
}
	
#flip
{
	transition: 0.4s;
	max-width: 1100px;
	width: 50%;
}

#panel {
    padding: 20px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
	max-width: 1100px;
}
	
#flip:hover
{
	background-color: #ccc;
}
	
.panel, .panel01, .panel02, .panel03, .panel04, .panel05, .panel06, .panel07, .panel08, .panelMenu {
    color: #444;
    cursor: pointer;
    width: 60%;
	min-width: 310px;
	max-width: 1600px;
	margin: 0 auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
	padding: 20px 18px;
    display: none;
    background-color: white;
    overflow: hidden;
	border-radius: 18px;
}

.panelMenu
{
	width: 50%;
	height: 220px;
	border-radius: 0 0 20px 0;
	margin: 0;
	position: absolute;
	left: 0;
	margin-top: 10px;
	background-color:rgba(231,225,225,0.00);
	padding: 0;
	min-width: 200px;
	max-width: 300px;
	z-index: 3;
	
}

.panelMenu ul
{
	width: 100%;
	margin-top: 0px;
	
}

.panelMenu li
{
	background-color:rgba(156,75,76,1.00);
	width: 120%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: -20%;
	-webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
	animation-fill-mode: both;
	
}

.panelMenu #opt1
{
	border-radius: 0 20px 0 0;
}

.panelMenu #opt2
{
	z-index: -1;
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.panelMenu #opt3
{
	z-index: -1;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.panelMenu #opt4
{
	z-index: -1;
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.panelMenu #opt5
{
	z-index: -1;
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
	border-radius: 0 0 20px 0;
}

.panelMenu a li 
{
   color: white;
	width: 120%;
	height: 40px;
	-mozilla-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.panelMenu a li:hover
{
	
	background-color:darkred;
	-mozilla-transition: 0.3s;
	-o-transition: 0.3s;
	-webkit-transition: 0.3s;
	transition: 0.3s;
}
	
.flip, .flip01, .flip02, .flip03, .flip04, .flip05, .flip06, .flip07, .flip08, .flipMenu, .flipContact {
    background-color: rgba(228,17,20,1.00);
    color: white;
    cursor: pointer;
    padding: 20px 18px 16px;
    width: 60%;
	min-width: 310px;
	max-width: 1600px;
	margin: 10px auto 0;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
	line-height: 30px;
	transition: 0.2s;
}

.flipMenu
{
	width: 10px;
	height: 100px;
	background-image: url(../images/ExpandOptions.png);
		background-repeat: no-repeat;
	min-width: 100px;
	margin-left: 10px;
	margin-bottom: 0;
	
}
	
.flip:hover, .flip01:hover, .flip02:hover, .flip03:hover, .flip04:hover, .flip05:hover, .flip06:hover, .flip07:hover, .flip08:hover, .flipMenu:hover, .flipMenu:active
{
	background-color: rgba(167,12,14,1.00);
		border-radius: 18px;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
	   z-index: -1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
	   z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
	   z-index: -1;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
	  z-index: 1;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (max-width:500px)  							/* Media Screen for tablet at 640px */
{
		.panelMenu
	{
		left: -5vw;
	}
}

