@charset "UTF-8";
/* CSS Document */
body
{
	min-height: 700px;
	font-family: 'Roboto Slab', serif;
	background-color:rgba(243,243,243,1.00);
	height: 100vh;
	overflow-y:scroll;
	overflow-x: hidden;
	z-index: 0;
}

hr
{
	margin: 50px 10px 10px 10px;
}

h1
{
	
}

h2
{
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
}

ci

h2 i
{
	float: right;
	position: relative;
	right: 0;
	font-size: 30px;
	margin: -15px 0 -10px -60px;
	width: 20px;
	padding: 20px;
}

h2 a i
{
	color: rgba(88,66,67,1.00);
}

h2 a i:hover
{
	color:rgba(163,75,80,1.00);
}

h3
{
	text-align: center;
}

h4
{
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
	height: 40px;
	font-size: 10vw;
	color: black;
}

h5
{
	
}

h6
{
	
}

p
{
	
}
#wrapper
{
	width:100%;
}

ul 
{
	list-style-type: none;
}

#NameDrop
{
	position: relative;
		/* Safari 4.0 - 8.0 */
    -webkit-animation-name: NDrop;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
   animation-name: NDrop; 
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes NDrop {
    0%   {top: 50vh; transform: translateY(-50%);}
	25%   {top: 50vh; transform: translateY(-50%);}
    100% {top: 0; transform: translateY(0%);}
}

/* Standard syntax */
@keyframes NDrop {
   0%   {top: 50vh; transform: translateY(-50%);}
	25%   {top: 50vh; transform: translateY(-50%);}
    100% {top: 0; transform: translateY(0%);}
}

.myauto .LinkIcon
{
	width: 50px;
	height: 50px;
	background-color: rgba(172,13,13,1.00);
	
	
}

.RelativeCenter
{
	position: relative;
	margin: 0 auto;
	top: 110px;
	
	text-align: center;
	vertical-align: middle;
	line-height: 20px;
	width: 60%;
	min-width: 100px;
	max-width: 400px;
}

.Chris01
{
	position: relative;
	height: 120px;
	width: 120px;
	top: 50px;
	margin: 0 auto;
	 left: -168px; 
	background-image:url(../images/Chris01.png);
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: TitleSetChris;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
   animation-name: TitleSetChris; 
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
}

.ChrisName
{
	width: 354px;
	height: 34px;
	position: relative;
	top: -95px;
	margin: 0 auto;
	 left: 38px; 
	background-image: url(../images/Chris02.png);
	background-size: cover;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: FadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
   animation-name: FadeIn; 
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

.Smith01
{
	position: relative;
	height: 68px;
	width: 68px;
	top: 64px;
	margin: 0 auto;
	 left: -130px; 
	background-image:url(../images/Smith01.png);
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: TitleSetSmith; 
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: TitleSetSmith; 
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
}

.SmithName
{
	width: 248px;
	height: 68px;
	position: relative;
	opacity: 0;
	top: -38px;
	margin: 0 auto;
	 left: 38px; 
	background-image: url(../images/Smith02.png);
	background-size: cover; 
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: FadeIn; 
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: FadeIn; 
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
	
}

.MainMenuItemA
{
	position: relative;
	margin: 0 auto;
	top: 30px;
		
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	width: 60%;
	min-width: 60px;
	max-width: 400px;
    height: 60px;
    background-color: rgba(228,17,20,1.00);
	opacity: 0;
    
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: fadeInUp;
    animation-duration: 0.8s;
    animation-timing-function:ease-in-out;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* Hover transition property*/
  transition:.5s;
}

.MainMenuItemB
{
	position: relative;
	margin: 0 auto;
	top: 45px;
	overflow: hidden;
	
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	width: 60%;
	min-width: 60px;
	max-width: 400px;
    height: 60px;
    background-color: rgba(228,17,20,1.00);
    opacity: 0;
	
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1.0s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: fadeInUp;
    animation-duration: 1.0s;
    animation-timing-function:ease-in-out;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* Hover transition property*/
  transition:.5s;

}

.MainMenuItemC
{
	
	position: relative;
	margin: 0 auto;
	top: 60px;
	overflow: hidden;
	
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	width: 60%;
	min-width: 60px;
	max-width: 400px;
    height: 60px;
    background-color: rgba(228,17,20,1.00);
    opacity: 0;
	
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1.2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: fadeInUp;
    animation-duration: 1.2s;
    animation-timing-function:ease-in-out;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* Hover transition property*/
  transition:.5s;
}

.MainMenuItemD
{
	position: relative;
	margin: 0 auto;
	top: 75px;
	overflow: hidden;
	
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	width: 60%;
	min-width: 60px;
	max-width: 400px;
    height: 60px;
    background-color: rgba(228,17,20,1.00);
    opacity: 0;
	
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1.4s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: fadeInUp;
    animation-duration: 1.4s;
    animation-timing-function:ease-in-out;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* Hover transition property*/
  transition:.5s;

}

.MainMenuItemE
{
	
	position: relative;
	margin: 0 auto;
	top: 90px;
	overflow: hidden;
	
	text-align: center;
	vertical-align: middle;
	line-height: 60px;
	width: 60%;
	min-width: 60px;
	max-width: 400px;
    height: 60px;
    background-color: rgba(228,17,20,1.00);
	opacity: 0;
	
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1.6s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 1.2s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: fadeInUp;
    animation-duration: 1.6s;
    animation-timing-function:ease-in-out;
    animation-delay: 1.2s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* Hover transition property*/
  transition:.5s;
}

.MainMenuLink 
{
	color:rgba(255,255,255,0.00);
	text-decoration: none;
	display:inline-block;
    width:100%;
    height:100%;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: FadeIn; 
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: FadeIn; 
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

.MainMenuItemA:hover, .MainMenuItemB:hover, .MainMenuItemC:hover, .MainMenuItemD:hover, .MainMenuItemE:hover, .MainMenuLink:hover
{
	background-color: rgba(167,12,14,1.00);
	
	box-shadow: 8px 8px 14px #888888;
	-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
} /* Basic Hover effect on menu */

a:hover
{
	color: rgba(239,234,234,1.00);
	text-decoration: none;
}

.img-fluid
{
	position: relative; left: 50%; transform: translateX(-50%);
}

#panelAbout
{
	display: none; /* Invisible until prompted to appear */
	position: absolute;
	top: 0vh;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: none;
	z-index: 8;
}

.AboutPanel
{
	opacity: 0;
	background-color: rgba(167,12,14,1.00);
	position: fixed;
	top: 0;
	left: 0;
	width: 20vw;
	height: 20vh;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: SlowFade;
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: SlowFade;
    animation-duration: 0.3s;
    animation-timing-function:linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

#panelEmployment
{
	display: none; /* Invisible until prompted to appear */
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	min-height: 100vh;
	background-color: none;
	z-index: 8;
}


.EmploymentPanel
{
	/*opacity: 0;*/
	background-color: rgba(167,12,14,1.00);
	position: fixed;
	top: 0;
	left: 0;
	width: 50vw;
	height: 100vh;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: LeftEntry;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: LeftEntry;
    animation-duration: 0.8s;
    animation-timing-function:ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

.Display
{
	position: absolute;
	width: 90%;
	min-height: 500px;
	max-width: 800px;
	left: 50%;
	top: 68px;
	transform: translateX(-51.5%);	
	background-color: white;

	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: SlowFade; 
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: SlowFade; 
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

.Display p
{
	color: black;
	margin: 20px 20px 10px;
	font-weight: normal;
	
}

.Display h3
{
	color: black;
	margin: 20px 20px 10px;
	text-align: left;
}

.Display a
{
	text-decoration: none;
	color: red;
}

.Display img
{
	width: 50%;
	max-width: 200px;
	float: left;
	margin: 20px;
	
	border-radius: 50%;
}

.prevButton
{
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: -7;
	text-align: center;
	font-size: 60px;
	
	top: 100%;
	left: 7%;
	
	border-radius: 50%;
	transition: 1.0s;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: SlowFade; 
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: SlowFade; 
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

.nextButton
{
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: -7;
	text-align: center;
	font-size: 60px;
	margin-bottom: 50px;
	
	top: 100%;
	right: -46%;
	
	border-radius: 50%;
	transition: 1.0s;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: SlowFade; 
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: 1;

    /* Standard syntax */
    animation-name: SlowFade; 
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

.prevButton:hover, .nextButton:hover
{
	background-color: black;
	color: white;
}

.prevButton i, .nextButton i
{
	position: relative;
	top: -3px;
}

.leftbox
{
	position: absolute;
	top: 5vh;
	left: 0px;
	height: 10vh;
	width: 10vh;
	background-color: rgba(167,12,14,0.00);
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: LeftBox;
    -webkit-animation-duration: 10.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;

    /* Standard syntax */
    animation-name: LeftBox;
    animation-duration: 10.0s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes LeftBox {
    0%   {background-color: rgba(167,12,14,0.50); left: -20%;}
    100% {background-color: rgba(167,12,14,0.0); left: 20%;}
}

/* Standard syntax */
@keyframes LeftBox {
   0%   {background-color: rgba(167,12,14,0.50); left: -20%;}
    100% {background-color: rgba(167,12,14,0.0); left: 20%;}
}

.rightbox
{
	position: absolute;
	top: 5vh;
	right: 0px;
	height: 10vh;
	width: 10vh;
	background-color: rgba(167,12,14,0.00);
	border-radius: 5vh;
	
	/* Safari 4.0 - 8.0 */
    -webkit-animation-name: RightBox;
    -webkit-animation-duration: 10.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;

    /* Standard syntax */
    animation-name: RightBox;
    animation-duration: 10.0s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
	animation-direction: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes RightBox {
    0%   {background-color: rgba(167,12,14,0.50); right: -20%;}
    100% {background-color: rgba(167,12,14,0.0); right: 20%;}
}

/* Standard syntax */
@keyframes RightBox {
   0%   {background-color: rgba(167,12,14,0.50); right: -20%;}
    100% {background-color: rgba(167,12,14,0.0); right: 20%;}
}

@-webkit-keyframes FadeIn {
    0%   {opacity: 0; color:rgba(255,255,255,0.00);}
	90%   {opacity: 0; color:rgba(255,255,255,0.00);}
    100% {opacity: 1; color:rgba(255,255,255,1.00);}
}

/* Standard syntax */
@keyframes FadeIn {
   0%   {opacity: 0; color:rgba(255,255,255,0.00);}
	90%   {opacity: 0; color:rgba(255,255,255,0.00);}
    100% {opacity: 1; color:rgba(255,255,255,1.00);}
}

@-webkit-keyframes SlowFade {
    0%   {opacity: 0;}	
    100% {opacity: 1;}
}

/* Standard syntax */
@keyframes SlowFade {
   0%   {opacity: 0;}	
    100% {opacity: 1;}
}

@-webkit-keyframes LeftEntry {
    0%   {top: 0; left: -60vw;}	
    100% {top: 0; left: 0vw;}
}

/* Standard syntax */
@keyframes LeftEntry {
   0%   {top: 0; left: -60vw;}	
    100% {top: 0; left: 0vw;}
}

@-webkit-keyframes RightEntry {
    0%   {top: 0; left: 110vw;}	
    100% {top: 0; left: 50vw;}
}

/* Standard syntax */
@keyframes RightEntry {
   0%   {top: 0; left: 110vw;}	
    100% {top: 0; left: 50vw;}
}

@-webkit-keyframes TitleSetChris {
    0%   {margin: 0 auto; left: 5px;}
	
	50%   {margin: 0 auto; left: 5px;}
	
    100% {margin: 0 auto;
	left: -168px;}
}

/* Standard syntax */
@keyframes TitleSetChris {
     0%   {margin: 0 auto; left: 5px;}
	
	50%   {margin: 0 auto; left: 5px;}

    100% {margin: 0 auto;
	left: -168px;}
}

@-webkit-keyframes TitleSetSmith {
    0%   {top: -44px;	margin: 0 auto; left: 15px;}
	
	50%   {top: -44px;	margin: 0 auto; left: 15px;}
   
    100% {top: 64px;
	margin: 0 auto;
	 left: -130px; }
}

/* Standard syntax */
@keyframes TitleSetSmith {
    0%   {top: -44px;	margin: 0 auto; left: 15px;}
	
	50%   {top: -44px;	margin: 0 auto; left: 15px;}
   
    100% {top: 64px;
	margin: 0 auto;
	 left: -130px; }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
	  width: 60px;
	  border-radius: 50%;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 100%, 0);
  }

  50% {
    opacity: 1;
	  width: 60px;
	  border-radius: 30px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
	
	55%
	{border-radius: 20px;}
	
	85% {border-radius: 20px;}
	
	100% {
		opacity: 1;
		width: 300px;
		border-radius: 0%;
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
	  width: 60px;
	  border-radius: 50%;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 100%, 0);
  }

  50% {
    opacity: 1;
	  width: 60px;
	  border-radius: 30px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
	
	55%
	{border-radius: 20px;}
	
	85% {border-radius: 20px;}
	
	100% {
		opacity: 1;
		width: 300px;
		border-radius: 0%;
	}
}

.lightbox-target:target a.lightbox-close 
{
	top: 0px;
	width: 10vw;
	min-width: 50px;
	max-width: 250px;
	height: 10vw;	
	min-height: 50px;
	max-height: 250px;
	text-align: center;
	margin: 0 auto;
	font-size: 5vw;
	vertical-align: middle;
	line-height: 1.75; 
}

#buttons ul li {
	font-size: 30px;
	width: 25%; 
	height: 50px; 
	min-width: 50px;
	text-align: center; 
	vertical-align:middle;
 float: left; 
	margin: 0 auto 0;
display:inline-block;
}
ul li a{
	margin: 0 auto;
	border-radius: 25px; background-color: rgba(172,13,13,1.00);width: 50px; 
	height: 50px; color: white; display: block;text-align: center;}
#buttons ul li a:hover{background-color:rgba(228,17,20,1.00)}

#buttons{
    float:right;
    position:relative;
    /*left:-50%;*/
    text-align:center;
    left:-41%;
	bottom: -10px;
	
}
#buttons ul{
	list-style-type: none; 
	text-decoration-line: none;
	width: 60vw;
	max-width: 300px;
	min-width: 200px;
    margin: 10px auto 20px;
    padding: 0;
    overflow: hidden;
text-align: center;
    list-style:none;
    position:relative;
    left:35%;
}

#buttons a{
	color: black;
	background: white;
	width: 50px;
	height: 50px;
	border-radius: 50%;
    text-decoration:none;
	margin: 0 auto;
    /* margin:10px;
    background:red;
    float:left;
    border:2px outset blue;
    color:#fff; 
    padding:2px 5px;*/
	font-size: 30px;
    text-align:center;
    white-space:nowrap;
	-o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  /* Hover transition property*/
  transition:.25s;
}
#buttons a:hover{ -o-transition:.25s;
  -ms-transition:.25s;
  -moz-transition:.25s;
  -webkit-transition:.25s;
  /* Hover transition property*/
  transition:.25s;color: white;}
#content{overflow:hidden}/* hide horizontal scrollbar*/



@media only screen and (min-width:840px)  							/* Media Screen for tablet at 640px */
{
	.MainMenuItemA, .MainMenuItemC, .MainMenuItemE, .MainMenuItemB, .MainMenuItemD
{
	
	width: 300px;
}	
	
}/* Media Screen for tablet at 640px */

@media only screen and (max-width:500px)  							/* Media Screen for phone at ~500px */
{
	
	hr
	{
		margin-top: 10px;
	}
	
	.ChrisName
	{
		opacity: 0;
		top: -200vh;
	}
	
	.SmithName
	{
		opacity: 0;
		top: -200vh;
	}
	
@-webkit-keyframes FadeIn {
    0%   {opacity: 0; color:rgba(255,255,255,0.00);}
	90%   {opacity: 0; color:rgba(255,255,255,0.00);}
    100% {opacity: 1; color:rgba(255,255,255,1.00);}
}

/* Standard syntax */
@keyframes FadeIn {
   0%   {opacity: 0; color:rgba(255,255,255,0.00);}
	90%   {opacity: 0; color:rgba(255,255,255,0.00);}
    100% {opacity: 1; color:rgba(255,255,255,1.00);}
}
	
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
	  width: 60px;
	  border-radius: 50%;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }

  50% {
    opacity: 1;
	  width: 60px;
	  border-radius:displa 30px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
	
	55%
	{border-radius: 20px;}
	
	85% {border-radius: 20px;}
	
	100% {
		opacity: 1;
		width: 60%;
		border-radius: 0%;
	}
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
	  width: 60px;
	  border-radius: 50%;
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
  }

  50% {
    opacity: 1;
	  width: 60px;
	  border-radius: 30px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
	
	55%
	{border-radius: 20px;}
	
	85% {border-radius: 20px;}
	
	100% {
		opacity: 1;
		width: 60%;
		border-radius: 0%;
	}
}

	
@-webkit-keyframes TitleSetChris {
   0%   {margin: 0 auto; left: 5px;}
	
	100%   {margin: 0 auto; left: 5px;}
}

/* Standard syntax */
@keyframes TitleSetChris {
   0%   {margin: 0 auto; left: 5px;}
	
	100%   {margin: 0 auto; left: 5px;}
}

@-webkit-keyframes TitleSetSmith {
    0%   {top: -44px;	margin: 0 auto; left: 15px;}
	
	100%   {top: -44px;	margin: 0 auto; left: 15px;}
}

/* Standard syntax */
@keyframes TitleSetSmith {
    0%   {top: -74px;	margin: 0 auto; left: 15px;}
	
	100%   {top: -74px;	margin: 0 auto; left: 15px;}	
}

.Chris01
	{
		top: 20px;
	}
	
.Smith01
	{
		top: -74px;
	}
	
.MainMenuItemA
{
	top: -110px;
}	
	
.MainMenuItemB
{
	top: -90px;
}	
	
.MainMenuItemC
{
	top: -70px;
}	
	
.MainMenuItemD
{
	top: -50px;
}
	
.MainMenuItemE
{
	top: -30px;
}	
	
	#buttons
	{
		margin-left: 50%;
		margin-top: 0px;
		transform: translateX(-15%);
	}
	
	#buttons ul li
	{
		width: 48%;
		margin-bottom: 10px;
		margin-left: 4px;
	}
	
.d-block
	{
		font-size: 12px;
	}
	
.mb-0
	{
		font-size: 40px;
	}
	
	.mb-0 li
	{
		font-size: 14px;
	}
	
.subheading a
	{
		width: 100%;
		text-align: center;
	}
	
	#buttons ul{
    list-style:none;
    position:relative;
    left:50%;
	width: 200px;
}
	
	.subheading a
	{
		width: 100%;
		font-size: 5vw;
		overflow: hidden;
	}
	
	.RelativeCenter
	{
		top: 0px;
	}
	
	.Display
	{
		width: 100%;
		max-width: 1100px;
		border-radius: 0;
	}
	
	.Display img
	{
		margin: 20px 25%;
	}
	
	.prevButton
	{
		left: 14%;
	}
	
	.nextButton
	{
		right: -38%;
	}
	
} /* Media Screen for phone at ~500px */

@media only screen and (max-width:1100px)  							/* Media Screen for tablet at 640px */
{
	.leftbox
	{
		opacity: 0;
		display: none;
	}
	
	.rightbox
	{
		opacity: 0;
		display: none;
	}
	
	
	
}
