@charset "UTF-8";
/* CSS Document */
html
{
	overflow-x:hidden;
	scroll-behavior: smooth;
}

body
{
	max-width: 100vw;
	width: 100%;
	font-family: 'Roboto Slab', serif;
	background-color:antiquewhite;
	position: absolute;
	left: 0;
	top: 0;
	
	/*outline: 1px solid red;*/
}

#portrait
{
	background-color: firebrick;
	position: absolute;
	top: -10px;
	left: -9px;
	
	width: 23vw;
	height: 23vw;
	max-width: 300px;
	max-height: 300px;
	
	padding: 20px;
	
}
