@charset "UTF-8";
/* CSS Document */
html
{
	overflow: hidden;
}

body
{
	position: relative;
	margin-top: -1vh;
	height: 101vh;
	font-family: 'Roboto Slab', serif;
	background-color:rgba(243,243,243,1.00);
	overflow: hidden;
}

h1
{
	color: white; /* Used for Name header, nothing else */
	font-family: 'Roboto Slab', serif;
	font-size: 50px;
		text-align: center;
	padding-top: 10%;
	margin-bottom: -10px;
}

h2
{
	color: white; /* Used for normal headers*/
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-align: center;
	margin: 0 auto;
	padding: 10px;
		margin-bottom: -10px;
}

h2 a
{
	color: white; /* Used for normal headers*/
	text-decoration: none;
}

h2 a:hover
{
	color:#EAD7D7; /* Used for normal headers*/
}


h3
{
	color: white; /* Used for descriptions headers*/
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
		text-align: left; 
	padding-left: 5%;
	margin-bottom: -8px;
	margin-top: -5px;
}

.firstone
{
	margin-top: 10px;
}

h4
{
	
}

h5
{
	
}

h6
{
	
}

p, ul
{
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	padding: 0px 5% 5px 5%;
	text-align: left;
	color: #FAFAFA;
}

ul
{
	margin-left: 14px;
	list-style:square;
}

#wrapper
{
	width:100%;
}

.GoHome
{
	position: fixed; /* or absolute */
  	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); /* Translates to own dimensions */
	width: 20vw;
	min-width: 50px;
	max-width: 250px;
	min-height: 11vw;
	opacity: 0.25;
	
	
}
	

.GoHome:hover
{
	filter: brightness(50%);
}

.screenguard
{
	position: absolute;
	top: 0;
	left: 0;
	height: 102vh;
	width: 102vw;
 	margin: 0;
	background-color: white;
	
	animation-name: FadeOut; 
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;

}

.topResume
{
	box-shadow: 18px 5px 18px 8px #CAC1BF;
	width: 80%;
	max-width: 900px;
	height:104vh;
	background-color: #991C1F;
	position: relative;
	margin: 0 auto;
	margin-top: -15px;
	display: block;
 	top: -106vh;
	
	animation-name: TopOut; 
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	
}

.topResume:hover
{
	 top: -1vh;
	
	
	animation-name: TopIn; 
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
	z-index: 2;
 
	
}

.topResTag
{	
	position:absolute;
	top: 100%;left: 10%;
	width: 80%;
	margin: auto;
	display: block;
 	 /* background: url(../images/ResumeCode.svg);
  	background-size:cover; */
	vertical-align: bottom;
	
}

.topResInfo
{
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 10vh;
    width: 70%;
	vertical-align: middle;
	
}




@-webkit-keyframes TopIn 
{
	0%   {top: -106vh; z-index: 0;}
   
    100% {top: -1vh; z-index: 2;}
}
@keyframes TopIn 
{
	0%   {top: -106vh; z-index: 0;}
   
    100% {top: -1vh; z-index: 2;}
}

@-webkit-keyframes TopOut 
{
    0%   {top: -1vh; z-index: 2;}
   
    100% {top: -106vh; z-index: 0;}
}

@keyframes TopOut 
{
    0%   {top: -1vh; z-index: 2;}
   
    100% {top: -106vh; z-index: 0;}
}


@-webkit-keyframes FadeOut {
    0%   {opacity: 1; z-index: 2;}
	60%   {opacity: 1}
    100% {opacity: 0; z-index: -1; }
}

/* Standard syntax */
@keyframes FadeOut {
   0%   {opacity: 1; z-index: 2;}
	60%   {opacity: 1}
    100% {opacity: 0; z-index: -1; }
}

.bottomResume
{
	box-shadow: 18px 10px 18px 8px #CAC1BF;
	width: 80%;
	max-width: 900px;
	height:108vh;
	background-color: #991C1F;
	position: relative;
	margin: 0 auto;
	display: block;
 	bottom: 0vh;
	
	animation-name: BottomOut; 
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards; 
	
}


.bottomResume:hover
{
	bottom: 110vh;
	
	
	animation-name: BottomIn; 
    animation-duration: 0.25s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
	animation-direction: forwards;
	animation-fill-mode: forwards;
 
	
}

.bottomResTag
{
	position:absolute;
	bottom: 99%;left: 10%;
	width: 80%;
	margin: 0 auto;
	display: block;
 	 /* background: url(../images/ResumeCode.svg);
  	background-size:cover; */
	vertical-align: top;
	
}

.bottomResInfo
{
		display: block;
    margin-left: auto;
    margin-right: auto;
	padding-top: 15vh;
    width: 70%;
	vertical-align: middle;
	
}

@-webkit-keyframes BottomIn 
{
	0%   {bottom: 0vh; z-index: 0;}
   
    100% {bottom: 110vh; z-index: 2;}
}
@keyframes BottomIn 
{
	0%   {bottom: 0vh; z-index: 0;}
   
    100% {bottom: 110vh; z-index: 2;}
}

@-webkit-keyframes BottomOut 
{
    0%   {bottom: 110vh; z-index: 2;}
   
    100% {bottom: 0vh; z-index: 0;}
}

@keyframes BottomOut 
{
    0%   {bottom: 110vh; z-index: 2;}
   
    100% {bottom: 0vh; z-index: 0;}
}

@media only screen and (max-width: 710px) /* Used for mobile view adjustments, good until you hit 500px */
{
	
	

	
	
	
	h1
{
	color: white; /* Used for Name header, nothing else */
	font-size: 36px;
	padding-top: 50px;
	

}

h2
{
	color: white; /* Used for normal headers*/
	font-size: 13px;
		


}

h3
{
	color: white; /* Used for descriptions headers*/
	
	font-size: 18px;
		
}

h4
{
	
}

h5
{
	
}

h6
{
	
}

p, ul
{
	font-size: 12px;
	
}
	
}

@media only screen and (max-height: 900px) /* Used for mobile view adjustments, good until you hit 800px */
{
	.topResume
{
	width: 60vh;
	}
	
	.bottomResume
{
	width: 60vh;
	}
	
	.topResInfo
{
	padding-top: 20vh;
    width: 96%;
	
}
	
	.bottomResInfo
{
	padding-top: 25vh;
    width: 96%;
	
}
	
	.GoHome
	{
		width: 8vw;
	}
	
}

@media only screen and (max-width: 900px) /* Used for mobile view adjustments, good until you hit 800px */
{
	.topResInfo
{
	padding-top: 7vh;
    width: 96%;
	
}
	
	.bottomResInfo
{
	padding-top: 12vh;
    width: 96%;
	
}
}

