

/* CSS Document */

body
{
	background-color: whitesmoke;
}

#wrapper
{
	width:100%;
	background-color: black;
	margin-top: 10px; 
	font-family: 'Merriweather', serif;
	font-weight: 300;
}

#Logo
{
	align-content: center;
	background-image:url(../images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 10px auto;
	width: 161px;
	height: 123px;
}

#ContactInfo
{
	vertical-align: text-bottom;
	float:right;
	text-align:right;
	color:rgba(84,81,81,1.00);
	margin: 5px auto;
	width: 60%;
	position: relative;
	bottom: -70px;
	
}

#ContactInfo ul
{
	list-style-type: none;
}

img.bottom {
    vertical-align: text-bottom;
}

header
{
	overflow:hidden;
	width:100%;
	float:left;
	height: 150px;
	background-color: gainsboro;
	
	
}

nav
{
	overflow:hidden;
	width:100%;
	height: 0;
	padding-top: 16px;
	margin-bottom: -10px;
	float:left;
	background-color:black ;
}

nav ul {
	padding-top: 0%;
	list-style-type: none;
	width: 100%;

	
}

nav li {
	min-width: 100px;
	text-align: center;
	display: inline-block;
	height: 100%;
	color: white;
	margin: 0 0 5% 0;
	margin-bottom: 10px;
	padding: 12px 0 10px 0;
	float: left;
	border-radius: 30px;
	
	/* -webkit-transition:.2s; */
	/* transition:.2s; */
}

nav li .about {
	margin-left: 0;
}

nav li:hover {
	/* color: #03929B; */
	text-decoration:none;
}

.redlink li {
	margin-left: -5%;
}

		/* Rainbow effect across nav */
.redlink li:hover {
	/* color: #03929B; */
	background: linear-gradient(to right, rgba(202,20,23,0.8), rgba(192,121,18,0.9));
	text-decoration:none;
}
.oranlink li:hover {
	/* color: #03929B; */
	background: linear-gradient(to right, rgba(192,121,18,0.9), rgba(219,196,22,0.70));
	text-decoration:none;
}
.yellink li:hover {
	/* color: #03929B; */
	background: linear-gradient(to right, rgba(219,196,22,0.70),rgba(35,159,34,0.90));
	text-decoration:none;
}
.greenlink li:hover {
	/* color: #03929B; */
	background: linear-gradient(to right, rgba(35,159,34,0.90), rgba(18,174,191,0.70));
	text-decoration:none;
}
.bluelink li:hover {
	/* color: #03929B; */
	background: linear-gradient(to right, rgba(18,174,191,0.70), rgba(54,72,171,0.8));
	text-decoration:none;
}

nav li a {
	color: white;
	text-decoration:none;
}

nav li a:hover {
	text-decoration: none;
	/* background-color: #DD7700; */
	color:white;	
}

#Line
{
	align-content: center;
	background-color: black;
	margin: auto;
	width: 100%;
	height: 123px;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
	height: 75px;
    border: none;
    cursor: pointer;
	margin: 10px 0 0 18px;
    width: 75px;
    padding: 10px;
	background-image: url(../images/ExpandOptions.png);
	background-repeat: no-repeat;
	background-size: contain; 
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: darkgrey;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	height: 100px;
    width: 55%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
	min-height: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #717272}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* Back to Top Button for Products page */

.BackToTop
{
	color: black;
	position: fixed;
	text-align: center;
    bottom: 0px;
	background-color: darkgray;
	margin: 0 3%;
    width: 30%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

.BackToTop:hover
{
	background-color: #596165;
}

.products
{
	margin: auto;
    width: 100%;

    padding: 20px;
	color: white;
}

section 
{
	width: 100%;
	min-height: 250px;
	float: left;
	/* background-color: aliceblue; */
}

.banner
{
	background-color: white;
	background-image: url(http://www.publicdomainpictures.net/pictures/170000/velka/abstract-colorful-paint-splats.jpg);
	background-size: cover;
	max-height: 100px;
}

.bannerAltA
{
	background-color: white;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/04/Paint_of_many_colors_CHF-Innovation-Day-2017-052.jpg);
	background-size: cover;
	max-height: 100px;
}

.bannerAltB
{
	background-color: white;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/da/Claude_Monet%2C_Saint-Georges_majeur_au_cr%C3%A9puscule.jpg);
	background-size: cover;
	background-position: 0% 25%;
	max-height: 100px;
}

.bannerAltC
{
	background-color: white;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/7c/Tongren-thangka-paint.jpg);
	background-size: cover;
	max-height: 100px;
	background-position: 0% 45%;
}

.bannerAltE
{
	background-color: white;
	background-image: url(https://static.pexels.com/photos/159644/art-supplies-brushes-rulers-scissors-159644.jpeg);
	background-size: cover;
	max-height: 100px;
	background-position: 0% 55%;
}

.buffer
{
	background-color: white;
	height: 10px;
}

.Header
{
	font-size: 24pt;
}

.subhead
{
	font-size: 16pt;
}

article
{
	width: 100%;
	min-height: 100px;
	float: left;
	background-color: white; 
}

article .columns
{
	width: 100%;
	min-height: 100px;
	float: left;
	background-color: white; 
}

article .column:first-child
{
	color: white;
	width: 100%;
	min-height: 100px;
	float: left;
	background-color: black; 
}


article .column:last-child
{
	color: black;
	width: 100%;
	min-height: 100px;
	float: left;
	background-color: white; 
}


aside 
{
	background-color: whitesmoke;
	width: 30%;
	min-height: 240px;
	float: left;
}

footer
{
	
	width: 100%;
	height: 100px;
	float: left;
	background-color: black;
	border-radius: 0 0 5px 5px;
	
}

footer .sm-YT 
{
	float: right;
	width: 50px;
	height: 50px;
	margin: 5px;
	background-size: 100% 100%;
	background-image: url(../images/YoutubeRoll.png);
	/* -webkit-transition:.3s;
	transition:.3s; */
}

footer a.sm-YT:hover {
		background-image: url(../images/Youtube.png);
}

footer .sm-FB {
	float: right;
	width: 50px;
	height: 50px;
	margin: 5px;
	background-size: 100% 100%;
	background-image: url(../images/FacebookRoll.png);
	/* -webkit-transition:.3s;
	transition:.3s; */
}


footer a.sm-FB:hover {
		background-image: url(../images/Facebook.png);
}

footer .sm-IG {
	float: right;
	width: 50px;
	height: 50px;
	margin: 5px;
	background-size: 100% 100%;
	background-image:url(../images/InstaGramRoll.png);
	/* -webkit-transition:.3s;
	transition:.3s; */
}

footer a.sm-IG:hover {
		background-image:url(../images/InstaGram.png);
}

footer .sm-TT {
	float: right;
	width: 50px;
	height: 50px;
	margin: 5px;
	background-size: 100% 100%;
	background-image: url(../images/TwitterRoll.png);
	/* -webkit-transition:.3s;
	transition:.3s; */
	
}

footer a.sm-TT:hover {
		background-image: url(../images/Twitter.png);
}

footer li {
	display: block;
	color: white;
	font-size: 20px;
	float: left;	
	padding: 1px;
	margin: 5px 10px;
}

footer li a {
	text-decoration: none;
	color: white;
	font-size: 15px;
	float: left;	
	display:block;
	border-radius: 10px;
	
	margin: auto;
	min-width: 70px;
	padding: 2px;
	text-align:center;


}

form input[type=submit] {

    padding:5px 15px;

    background:#ccc;

    border:0 none;

    cursor:pointer;

    -webkit-border-radius: 5px;

    border-radius: 5px;

}

/* Media Screen for tablet at 640px */

@media only screen and (min-width:640px)  							/* Media Screen for tablet at 640px */
{
	#wrapper
{
	width:100%;
	border-radius: 30px 20px 0 0;
}
	
	#Logo
{
	align-content: center;
	float: left;
	background-image:url(../images/logo.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 10px 0 0 12px; 
	width: 161px;
	height: 123px;
}

.BackToTop
{
	position: fixed;
	text-align: center;
	font-size: 16pt;
    bottom: 0px;
	background-color: darkgray;
	margin: 0 35%;
    width: 30%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}	
	
header
{
	width:100%;
	float:left;
	height: 150px;
	border-radius: 10px 10px 0 0; 
	/* border-radius: 20px 20px 0 0; */
}
	
#Line
{
	align-content: center;
	background-color: black;
	margin: auto;
	width: 0%;
	height: 0;
}

nav
{
	width:100%;
	min-height: 90px;
	float:left;
	margin-bottom: 10px; 

}
		
nav ul {
	padding-left: 17%;
}
	
nav li {
	display: inline-block;
	color: white;
	margin: 6px 1% 10px 1%;
	padding: 10px 3%;
	float: left;
	
	/* -webkit-transition:.2s; */
	/* transition:.2s; */
}	
	
	
.dropdown
{
	width: 100%;
	height: 0;
	background-color: black;
}
	
.dropbtn {
    background-color:#000000 ;
    color: white;
    padding: 0px;
    font-size: 0px;
    border: none;
    cursor: pointer;
}
	
.dropdown-content {
	width: 0;
	height: 0;
}
	
/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    font-size: 16px;
	height: 0;
    border: none;
    cursor: pointer;
	margin: auto;
    width: 0;
    padding: 0;
	background-image: url(../images/ExpandOptions.png);
	background-repeat: no-repeat;
	background-size: contain; 
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
	height: 0px;
    width: 0;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    width: 0px;
	height: 0px;
    z-index: 1;
}
	
section 
{
	width: 100%;
	min-height: 250px;
	float: left;

}

article
{
	width: 100%;
	min-height: 100px;
	float: left;
}
	
article p 
{
	margin: auto;
	padding: 20px;
		
}	

aside 
{
	width: 100%;
	min-height: 240px;
	max-width: 50%;
	float: left;
	
}

footer
{
	
	width: 100%;
	height: 100px;
	float: left;
	border-radius: 0 0 10px 10px;
	
}
	
.onefourth {
	width: 256px;
	min-height: 100px;
	float:left;
	color: #FFFFFF;
	
	
}	
	
	
} /* End @media */

/* End 640px tablet */

@media only screen and (min-width: 960px)      						 /* Full Screen Mode */
{
	#wrapper
{
	width:100%;
	max-width: 1024px;
	margin: auto;
	margin-top: 10px;
}

header
{
	width:100%;
	float:left;
	height: 145px;

}

nav
{
	width:100%;

	float:left;

}
	
	nav ul{
		padding: 0 0 0 14%;
	}
	
nav li {
	display: inline-block;
	color: white;
	margin: 8px 1% 0 1%;
	margin-bottom: 10px;
	padding: 10px 5% 10px 5%;
	float: left;
	
	/* -webkit-transition:.2s; */
	/* transition:.2s; */
}

section 
{
	width: 100%;
	min-height: 250px;
	float: left;
}

article
{
	width: 100%;
	min-height: 100px;
	float: left;

	
}

aside 
{
	width: 100%;
	min-height: 240px;
	float: left;
	
}

footer
{
	
	width: 100%;
	height: 100px;
	float: left;
	
}
} /* End 960px tablet */

/* Headers */
h1
{
	
}

h2
{

}

h3
{
	
}

h4
{
	
}

h5
{
	
}

h6
{
	
}

/* Buttons */

a.button
{
	background-color: beige;
	padding: 15px 16px;
	font-size: 15px;
	color: blanchedalmond;
	margin-left: 25px;
	border-radius: 15px;
	
	
}

a.hover /* Mouseover */
{
	background-color: bisque;
}

a.active /* While clicked on */
{
	
}

a.link /* Default color */
{
	color: black;
	
}

a.visited /* Clicked on */
{
	
}
