@charset "UTF-8";
/* CSS Document */

header
{
	position: relative;
	top: 30px;
	background-image:url(../images/jumbotronback.png);
	background-size: cover;
	border-radius: 12px;
}

header p
{
	text-align: center;
}

.sidebar-nav
{
	text-align: left;
}

.Floater
{
	width: 110%;
	display:block;
	margin: 0 auto;
	margin-left: -7%;
	top:0;
	position: fixed;
	background-color:rgba(61,103,130,1.00);
	color: white;
	min-height: 80px;
	text-align: center;
	line-height: 80px;       /* roughly the same as div height */
	font-size: 30px;
	height:70px;
	
	-webkit-transition: 0.2s;
	transition: 0.2s;
	z-index: 8; /* Should always be above all other elements */

}

.Floater:hover
{
	background-color:rgba(43,67,92,1.00);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.Floater p
{
	text-align: center;
	vertical-align: middle;

}

h1
{
	margin-top: 90px;
	width: 100%;
	float: left;
	font-size: 40px;
	text-align: left;
}

h2
{
	margin: 0px auto;
	font-size: 35px;
	width: 100%;
	padding: 20px;
	text-align: left;
}

p
{
	text-align: left;
}

.col-lg-3:nth-child(3n + 1)
{
	margin-left: 0px;
	margin-right: -0px;
}

.col-md-5 
{
	float: left;
	text-align: left;
}

.CenterPara
{
	margin: 0 auto 40px;
	max-width: 1080px;
}

ul li a
{
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-mozilla-transition: 0.2s;
}

ul li a:hover
{
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-mozilla-transition: 0.2s;
}

.jumbotron
{
	margin-top: 500px;
	-webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.col-lg-3:nth-child(4n-3) 
{
	-webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.col-lg-3:nth-child(4n-2) 
{
	-webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.col-lg-3:nth-child(4n-1) 
{
	-webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.col-lg-3:nth-child(4n) 
{
	-webkit-animation-duration: 2.0s;
  animation-duration: 2.0s;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.card-img-top
{
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-mozilla-transition: 0.2s;
}


.card-img-top:hover
{
	filter: opacity(65%);
	-webkit-filter: opacity(65%);
	-mozilla-filter: opacity(65%);
	-o-filter: opacity(65%);
	
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	-mozilla-transition: 0.2s;
	
	cursor: grab;
}

.btn-primary 
{
	background-color: rgba(85,138,177,1.00);
	border: none;
	
}

.btn-primary:hover 
{
	background-color:rgba(45,89,122,1.00);
	border: none;
	
}

.col-md-4
{
	text-align: left;
}

.SVG01
{
	background-image: url(../images/adv01.svg);
	background-size: cover;
	min-height: 200px;
	width: 100%;
  	padding-bottom: 80%;
}

.SVG02
{
	background-image: url(../images/adv02.svg);
	background-size: cover;
}

/* Gallery-Specific CSS Here */
/*Eliminates padding, centers the thumbnail */

body, html {
padding: 0;
margin: 0;
text-align: center;
}

/* Styles the thumbnail */

a.lightbox img {
max-height: 300px;
border: 3px solid white;
box-shadow: 0px 0px 6px rgba(0,0,0,.3);
/* margin: 94px 10px 10px 20px; */
}

/* Styles the lightbox, removes it from sight and adds the fade-in transition */

.lightbox-target {
	z-index: 2;
position: fixed;
top: -100%;
	left:0%;
background: rgba(0,0,0,.7);
width: 100%;
	margin: 0 auto;
opacity: 0;
-webkit-transition: opacity .5s ease-in-out;
-moz-transition: opacity .5s ease-in-out;
-o-transition: opacity .5s ease-in-out;
transition: opacity .5s ease-in-out;
overflow: hidden;
}

/* Styles the lightbox image, centers it vertically and horizontally, adds the zoom-in transition and makes it responsive using a combination of margin and absolute positioning */

.lightbox-target img {
	display: block;
	z-index: 3;
margin: auto;
position: absolute;
top: 0;
left:0;
right:0;
bottom: 0;
border: 3px solid white;
box-shadow: 0px 0px 8px rgba(0,0,0,.3);
/* box-sizing: border-box; */
	width:50%;
	max-height: 1000px;
	max-width: 800px;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Styles the close link, adds the slide down transition */

a.lightbox-close {
	font-size: 30px;
	text-align: center;
display: block;
width:50px;
height:50px;
box-sizing: border-box;
background: white;
color: black;
text-decoration: none;
position: absolute;
top: 0px;
right: 0%;
-webkit-transition: .5s ease-in-out;
-moz-transition: .5s ease-in-out;
-o-transition: .5s ease-in-out;
transition: .5s ease-in-out;
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:before {
content: "";
display: block;
height: 30px;
width: 1px;
background: white;
position: absolute;
left: 30vw;
top:0px;
-webkit-transform:rotate(45deg);
-moz-transform:rotate(45deg);
-o-transform:rotate(45deg);
transform:rotate(45deg);
}

/* Provides part of the "X" to eliminate an image from the close link */

a.lightbox-close:after {
content: "";
display: block;
height: 30px;
width: 1px;
background: white;
position: absolute;
left: 30vw;
top: 0px;
-webkit-transform:rotate(-45deg);
-moz-transform:rotate(-45deg);
-o-transform:rotate(-45deg);
transform:rotate(-45deg);
}

/* Uses the :target pseudo-class to perform the animations upon clicking the .lightbox-target anchor */

.lightbox-target:target {
opacity: 1;
top: 0;
bottom: 0;
}

.lightbox-target:target img {
max-height: 100%;
max-width: 100%;
}

.lightbox-target:target a.lightbox-close {
top: 80px;
}

.middlerow
{
	max-width: 1080px; 
	margin: 0 auto;
}


/* CSS animations from here on  */

@-webkit-keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width:600px)  							/* Media Screen for tablet at 640px */
{
	.lightbox-target img 
	{
		width: 100%;
	}
	
	.lightbox-target .tall img 
	{
		height: 65%; width: initial;
	}
	
}
